<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RBackup.RamazanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RBackup.RamazanSettings>
            <setting name="pg_dumpKlasoru" serializeAs="String">
                <value />
            </setting>
            <setting name="postgrePort" serializeAs="String">
                <value />
            </setting>
            <setting name="postgreSifre" serializeAs="String">
                <value />
            </setting>
            <setting name="postgreSunucu" serializeAs="String">
                <value />
            </setting>
            <setting name="yedeklemeSuresi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="postgreVeritabani" serializeAs="String">
                <value />
            </setting>
            <setting name="otomatikYedekleCheckbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postgreKullanici" serializeAs="String">
                <value />
            </setting>
        </RBackup.RamazanSettings>
    </userSettings>
</configuration>